#kitas-links.modal.hide.fade.in
  %header.modal-header
    %a.close(href="#")x
    %h3 Weiterführende Links
  .modal-body
    %ul
      %li= link_to 'Kita Bremen - Städtische Einrichtung', 'http://www.kita.bremen.de/', target: '_blank'
      %li= link_to 'Kiki Bremen - Kirchliche Einrichtungen', 'http://www.kiki-bremen.de/', target: '_blank'
      %li= link_to 'Kleinkindergruppen von Elternvereinen', 'http://www.verbundbremerkindergruppen.de/', target: '_blank'
      %li= link_to 'Citykids Bremen', 'http://www.citykids-bremen.de/', target: '_blank'
      %li= link_to 'Oma-Opa-Hilfsdienst', 'http://www.oma-opa-hilfsdienst.de/', target: '_blank'