!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
    = yield :head
  %body
    .topbar
      .topbar-inner
        .container
          = link_to Settings.app_name, root_path, class: 'brand'
          = render 'shared/topnav'
    #content.container
      = render 'shared/flash', flash: flash
      = yield
    %footer.footer
      .container
        = render 'shared/footer'
    = render 'shared/analytics' if Settings.google_analytics_id
