!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=true'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = yield(:head)
  %body
    .topbar
      .topbar-inner
        .container
          = link_to Settings.app_name, root_path, class: 'brand'
          = render 'shared/topnav'
    #content.container
      = render 'shared/flash', flash: flash
      = yield
    %footer.footer
      .container
        = render 'shared/footer'
